/firstProject/build.gradle
/firstProject/gradlew
/firstProject/gradlew.bat
/firstProject/settings.gradle
/firstProject/.gradle
/firstProject/src/main/java/Practice/firstProject/src/main/java/Practice/firstProject/src/main/java/Practice
/firstProject/.idea